<a href="https://colab.research.google.com/github/lbsantosg/DS4A/blob/main/EDA/eda_Daniel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importar maricaditas - holis - holiwis - OwO - RawR I'm a stegosaurus sin palabras
#This is a test comment 1
import pandas as pd
import seaborn as sns
import matplotlib as mp

In [ ]:
#cargar la db
df_2020_2 = pd.read_csv("C:\DS4A project\saber_data\Saber_11__2020-2.csv")
 #( ͡~ ͜ʖ ͡°)

In [ ]:
pd.options.display.max_columns = 10

In [ ]:
df_2020_2.head()

In [ ]:
#Comienza la anarquia
##drop por R #df_2020_2["ESTU_TIPODOCUMENTO"].value_counts(dropna=False) #no hay NaN
#solo colombianos? no deberiamos#df_2020_2["ESTU_NACIONALIDAD"].value_counts(dropna=False) #no hay NaN
#df_2020_2["ESTU_GENERO"].value_counts(dropna=False) #hay 8 NaN
##drop por R #df_2020_2["PERIODO"].describe() # da 0 std, ergo solo hay 1 periodo, descartable
#df["ESTU_FECHANACIMIENTO"][((df_2020_2["ESTU_FECHANACIMIENTO"].str[6:10]).astype(int)<1970)]#hay ~13 errores no solucionables, 29 sospechosos, al rededor de 735 adultos mayores, .isnull().sum() = 0
#df_2020_2["ESTU_CONSECUTIVO"].describe() #todos unique, podemos usarlo como ID, 0 null
##drop por R #df_2020_2["ESTU_ESTUDIANTE"].describe() #todos aparecen como estudiantes, descartable
#df_2020_2["ESTU_PAIS_RESIDE"].drop_duplicates() #47 unicos, sin null
#(df_2020_2["ESTU_TIENEETNIA"]=="Si").value_counts() #solo 32k True, gran cantidad de NaN, se puede tomar NaN como no etnia, ver si es significativo
#df_2020_2["ESTU_DEPTO_RESIDE"].drop_duplicates() # es posible este se pueda inferir con dpto en COLE, hay errores aca, aparentemente 240k, consistentes con ESTU_DEPTO_RESIDE y ESTU_COD_RESIDE_DEPTO
#df_2020_2["ESTU_MCPIO_RESIDE"].isnull().sum() #2 null, 1031 unicos, tal vez podamos inferir info del dpto con este
#df_2020_2["ESTU_COD_RESIDE_MCPIO"].value_counts().drop_duplicates() #igual 2 null, "https://www.ccbarranca.org.co/ccbar/images/documentos/codigos_municipios_dane.pdf"aqui hay un pdf con codigo, municio y dpto, depronto lo conseguimos como db en el dane
#df_2020_2["FAMI_ESTRATOVIVIENDA"].value_counts(dropna=False) #15k sin estrato, 16k null, es posible se puedan segmentar usando un "sub analisis" con las variables socioeconomicas
#df_2020_2["FAMI_PERSONASHOGAR"].value_counts(dropna=False) #15k sin reportar, posible correlacion con anterior? tratamiento igual
#df_2020_2["FAMI_CUARTOSHOGAR"].value_counts(dropna=False) #de nuevo 15k sin reportar
#df_2020_2["FAMI_EDUCACIONPADRE"].value_counts(dropna=False) #12k sin reportar, 29k no sabe, 7k no aplica
#df_2020_2["FAMI_TRABAJOLABORPADRE"].value_counts(dropna=False) #20k null, 45k no sabe, posible cruzar esta y anterior
#(df_2020_2["FAMI_EDUCACIONPADRE"].isnull() & df_2020_2["FAMI_TRABAJOLABORPADRE"].isnull()).sum() #12084 nulls, categoria nueva posible padre ausente?, toca meterle los no sabe, creo se puede
#df_2020_2["FAMI_EDUCACIONMADRE"].value_counts(dropna=False) # 13k null, 9k no sabe 1k no aplica
#df_2020_2["FAMI_TRABAJOLABORMADRE"].value_counts(dropna=False) #17k null, 13k no sabe, igual que el anterior
#df_2020_2["FAMI_TIENEINTERNET"].value_counts(dropna=False) #13k null
#df_2020_2["FAMI_TIENESERVICIOTV"].value_counts(dropna=False) #15k null
#df_2020_2["FAMI_TIENECOMPUTADOR"].value_counts(dropna=False) #20k null
#df_2020_2["FAMI_TIENELAVADORA"].value_counts(dropna=False) #16k null
#df_2020_2["FAMI_TIENEHORNOMICROOGAS"].value_counts(dropna=False) #17k null
#df_2020_2["FAMI_TIENEAUTOMOVIL"].value_counts(dropna=False) #17k null
#df_2020_2["FAMI_TIENEMOTOCICLETA"].value_counts(dropna=False) #17k null
#df_2020_2["FAMI_TIENECONSOLAVIDEOJUEGOS"].value_counts(dropna=False) #17k null los mismos maybe?
#df_2020_2["FAMI_NUMLIBROS"].value_counts(dropna=False) #13k nulls, de resto trabajable
#df_2020_2["FAMI_COMELECHEDERIVADOS"].value_counts(dropna=False) #13k nulls
#df_2020_2["FAMI_COMECARNEPESCADOHUEVO"].value_counts(dropna=False) #15k nulls
#df_2020_2["FAMI_COMECEREALFRUTOSLEGUMBRE"].value_counts(dropna=False) #20k nulls
#df_2020_2["FAMI_SITUACIONECONOMICA"].value_counts(dropna=False) #16k nulls, conclusión, es posible crear un indice de ausencia de datos, segun eso, descartar o analizar como cat. propia
#Grupo FAMI toca trabajarlo aparte
#df_2020_2["ESTU_DEDICACIONLECTURADIARIA"].value_counts(dropna=False) #14k nulls
#df_2020_2["ESTU_DEDICACIONINTERNET"].value_counts(dropna=False) #14k nulls
#df_2020_2["ESTU_HORASSEMANATRABAJA"].value_counts(dropna=False) #17k nulls
#df_2020_2["ESTU_TIPOREMUNERACION"].value_counts(dropna=False) #17k nulls cruzar esta y anterior, si tiene pago, asignarle lineal segun categoria y viceversa
#df_2020_2["COLE_CODIGO_ICFES"].value_counts(dropna=False) #parece no hay null, creo que aqui tmb se puede cruzar municipio y dpto
#df_2020_2["COLE_COD_DANE_ESTABLECIMIENTO"].value_counts(dropna=False) #no hay null, de aqui si se puede sacar el mun y dpto, si esta sirve, creo se puede dropear la anterior
#df_2020_2["COLE_NOMBRE_ESTABLECIMIENTO"]#.drop_duplicates().sum()#.value_counts(dropna=False) #0 null, se puede usar para dar resultados por colegio
#df_2020_2["COLE_GENERO"].value_counts(dropna=False) # no nulls
#df_2020_2["COLE_NATURALEZA"].value_counts(dropna=False) #no nulls
#df_2020_2["COLE_CALENDARIO"].value_counts(dropna=False) #no nulls, la mayoría A, 2k otro y B 400
#df_2020_2["COLE_BILINGUE"].value_counts(dropna=False) #83k nulls, buen candidato para segmentar los null
#df_2020_2["COLE_CARACTER"].value_counts(dropna=False)  #14k null, igual que el anterior
#df_2020_2["COLE_COD_DANE_SEDE"].value_counts(dropna=False) #este y COLE_NOMBRE_SEDE, para presentar por colegio
#df_2020_2["COLE_SEDE_PRINCIPAL"].value_counts(dropna=False) #esta bueno como categoria sola
#df_2020_2["COLE_AREA_UBICACION"].value_counts(dropna=False) # 0 null
#df_2020_2["COLE_JORNADA"].value_counts(dropna=False) #0 null
#df_2020_2["COLE_COD_MCPIO_UBICACION"].isnull().sum()#.value_counts(dropna=False) #0 null, se puede usar para rellenar null de estudiantes
#df_2020_2["COLE_MCPIO_UBICACION"].value_counts(dropna=False) #igual que anterior
#df_2020_2["COLE_DEPTO_UBICACION"].isnull().sum() #igual que anterior, ya se tendrian esos datos
#df_2020_2["ESTU_PRIVADO_LIBERTAD"].value_counts(dropna=False) #152 si, 0 null, gran mayoria no
##drop por R #los de lugar de presentación ni los revisé, con mun y dpto de colegio es suficiente
##drop por R #los percentiles y desempeño los obvié porque se calculan con info de esta tabla
#df_2020_2["PUNT_LECTURA_CRITICA"].isnull().sum()#.value_counts(dropna=False) #197 0% 420%
#df_2020_2["PUNT_MATEMATICAS"].isnull().sum()#.value_counts(dropna=False) #187 0% 1335 100%
#df_2020_2["PUNT_C_NATURALES"].isnull().sum()#.value_counts(dropna=False) #392 0% 373 100%
#df_2020_2["PUNT_SOCIALES_CIUDADANAS"]#.value_counts(dropna=False)#190 0% 989 100%
#df_2020_2["PUNT_INGLES"].value_counts(dropna=False) #1282 0% 1070 100% 334 null
#(df_2020_2["PUNT_GLOBAL"]==0).sum() #0 null, 80 0%
#df_2020_2["ESTU_INSE_INDIVIDUAL"].value_counts(dropna=False) #14k nulls, el INSE es indice de nivel socio economico
#df_2020_2["ESTU_NSE_ESTABLECIMIENTO"].value_counts(dropna=False) #49 null, este sirve como indicador para el anterior
##drop por R #ESTU_ESTADOINVESTIGACION y ESTU_GENERACION-E dependen de resultados de icfes así que no los tomé

#en este primer paso, escojo cuales puedo dropear sin afectar la info disponible, sea por redundantes o porque se me da la gana

In [ ]:
#saco la info de grupo familiar
df_2020_2_FAMI = df_2020_2[["ESTU_CONSECUTIVO", "FAMI_ESTRATOVIVIENDA", "FAMI_PERSONASHOGAR", "FAMI_CUARTOSHOGAR", "FAMI_EDUCACIONPADRE", "FAMI_EDUCACIONMADRE", "FAMI_TRABAJOLABORPADRE", "FAMI_TRABAJOLABORMADRE", "FAMI_TIENEINTERNET", "FAMI_TIENESERVICIOTV", "FAMI_TIENECOMPUTADOR", "FAMI_TIENELAVADORA", "FAMI_TIENEHORNOMICROOGAS", "FAMI_TIENEAUTOMOVIL", "FAMI_TIENEMOTOCICLETA", "FAMI_TIENECONSOLAVIDEOJUEGOS", "FAMI_NUMLIBROS", "FAMI_COMELECHEDERIVADOS", "FAMI_COMECARNEPESCADOHUEVO", "FAMI_COMECEREALFRUTOSLEGUMBRE", "FAMI_SITUACIONECONOMICA"]]
#crear una columna que sume todos los null de cada row

#son 20 posibles categorias, 21 rows con el index
df_2020_2_FAMI["nNulls"] = df_2020_2_FAMI.isnull().sum(axis=1)
df_2020_2_FAMI = df_2020_2_FAMI.reindex(columns=("nNulls", "ESTU_CONSECUTIVO", "FAMI_ESTRATOVIVIENDA", "FAMI_PERSONASHOGAR", "FAMI_CUARTOSHOGAR", "FAMI_EDUCACIONPADRE", "FAMI_EDUCACIONMADRE", "FAMI_TRABAJOLABORPADRE", "FAMI_TRABAJOLABORMADRE", "FAMI_TIENEINTERNET", "FAMI_TIENESERVICIOTV", "FAMI_TIENECOMPUTADOR", "FAMI_TIENELAVADORA", "FAMI_TIENEHORNOMICROOGAS", "FAMI_TIENEAUTOMOVIL", "FAMI_TIENEMOTOCICLETA", "FAMI_TIENECONSOLAVIDEOJUEGOS", "FAMI_NUMLIBROS", "FAMI_COMELECHEDERIVADOS", "FAMI_COMECARNEPESCADOHUEVO", "FAMI_COMECEREALFRUTOSLEGUMBRE", "FAMI_SITUACIONECONOMICA"))
df_2020_2_FAMI["nNulls"][df_2020_2_FAMI["nNulls"]>0].value_counts().sum()
#este muestra como empieza la df, en total hay 11588 con 20 null, y 53k con al menos 1 null

C:\Users\DanielPc\AppData\Local\Temp\ipykernel_2944\3208842463.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020_2_FAMI["nNulls"] = df_2020_2_FAMI.isnull().sum(axis=1)

53328

In [ ]:
#nukear todos los que tienen vacio el grupo familia, lo necesitamos para inferir sobre población, si no lo tienen, no sirven
df_2020_2_FAMI = df_2020_2_FAMI[df_2020_2_FAMI["nNulls"]!=20] #11588 dropeados
df_2020_2_FAMI.head(2)

,nNulls,ESTU_CONSECUTIVO,FAMI_ESTRATOVIVIENDA,FAMI_PERSONASHOGAR,FAMI_CUARTOSHOGAR,...,FAMI_NUMLIBROS,FAMI_COMELECHEDERIVADOS,FAMI_COMECARNEPESCADOHUEVO,FAMI_COMECEREALFRUTOSLEGUMBRE,FAMI_SITUACIONECONOMICA
0,0,SB11202040211436,Estrato 2,5 a 6,Dos,...,26 A 100 LIBROS,3 a 5 veces por semana,1 o 2 veces por semana,3 a 5 veces por semana,Peor
1,0,SB11202040433216,Estrato 3,3 a 4,Uno,...,0 A 10 LIBROS,3 a 5 veces por semana,Todos o casi todos los días,3 a 5 veces por semana,Mejor

In [ ]:
#ahora a limpiar los null
df_2020_2_FAMI_c = df_2020_2_FAMI
#supuesto 1: todo debería estar estratificado en Colombia, ergo NaN es otra forma de decir Sin Estrato
#df_2020_2_FAMI_c["FAMI_ESTRATOVIVIENDA"].value_counts(dropna=False)#NaN 5364, Sin Estrato 15631, Antes del nuke => NaN 16952, Sin Estrato 15631
df_2020_2_FAMI_c["FAMI_ESTRATOVIVIENDA"][df_2020_2_FAMI_c["FAMI_ESTRATOVIVIENDA"].isnull()]="Sin Estrato"
df_2020_2_FAMI_c["FAMI_ESTRATOVIVIENDA"].value_counts(dropna=False) #0 NaN, 20995 Sin Estrato, Antes del nuke => 0 NaN, 32583 Sin Estrato
df_2020_2_FAMI["FAMI_ESTRATOVIVIENDA"] = df_2020_2_FAMI_c["FAMI_ESTRATOVIVIENDA"]

C:\Users\DanielPc\AppData\Local\Temp\ipykernel_2944\2528513608.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020_2_FAMI_c["FAMI_ESTRATOVIVIENDA"][df_2020_2_FAMI_c["FAMI_ESTRATOVIVIENDA"].isnull()]="Sin Estrato"

In [ ]:
df_2020_2_FAMI_c.head(2)

,nNulls,ESTU_CONSECUTIVO,FAMI_ESTRATOVIVIENDA,FAMI_PERSONASHOGAR,FAMI_CUARTOSHOGAR,...,FAMI_NUMLIBROS,FAMI_COMELECHEDERIVADOS,FAMI_COMECARNEPESCADOHUEVO,FAMI_COMECEREALFRUTOSLEGUMBRE,FAMI_SITUACIONECONOMICA
0,0,SB11202040211436,Estrato 2,5 a 6,Dos,...,26 A 100 LIBROS,3 a 5 veces por semana,1 o 2 veces por semana,3 a 5 veces por semana,Peor
1,0,SB11202040433216,Estrato 3,3 a 4,Uno,...,0 A 10 LIBROS,3 a 5 veces por semana,Todos o casi todos los días,3 a 5 veces por semana,Mejor

In [ ]:
#print(df_2020_2_FAMI_c["FAMI_PERSONASHOGAR"].value_counts(dropna=False)) #3585 NaN
#print(df_2020_2_FAMI_c["FAMI_CUARTOSHOGAR"].value_counts(dropna=False)) #4251 NaN
#((df_2020_2_FAMI_c["FAMI_PERSONASHOGAR"].isnull()) & (df_2020_2_FAMI_c["FAMI_CUARTOSHOGAR"].isnull())).sum() #2769 NaN
#como trato de inferir faltantes usando el otro par, tengo que dropear los que no tienen ninguno


#https://stackoverflow.com/questions/21415661/logical-operators-for-boolean-indexing-in-pandas

#hora de chi^2
#crear una lista con los que no tienen el par de null
((df_2020_2_FAMI_c["FAMI_PERSONASHOGAR"].isnull()) & (df_2020_2_FAMI_c["FAMI_CUARTOSHOGAR"].isnull())).value_counts(dropna=False)#son True los que quiero dejar
#df_2020_2_FAMI = df_2020_2_FAMI[df_2020_2_FAMI["nNulls"]!=20] #11588 dropeados
#df_2020_2_FAMI_c["a_dejar"] = ((df_2020_2_FAMI_c["FAMI_PERSONASHOGAR"].notnull()) & (df_2020_2_FAMI_c["FAMI_CUARTOSHOGAR"].notnull()))
#df_2020_2_FAMI_c = df_2020_2_FAMI_c[df_2020_2_FAMI_c["a_dejar"]==True]

False    490515
True       2769
dtype: int64

In [ ]:
#df_2020_2_FAMI_c["FAMI_CUARTOSHOGAR"].value_counts(dropna=False)
df_2020_2_FAMI_c["a_dejar"].value_counts(dropna=False)

True     488217
False      5067
Name: a_dejar, dtype: int64